#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-1 {
  background-image: url("./assets/idcard_01.jpg");
}

.page-2 {
  background-image: url("./assets/idcard_02.jpg");
}
